<!DOCTYPE html>
<html>

<head>
	<title><%= pageName %></title>
	<link rel='stylesheet' href='/manage/stylesheets/style.css' />
	<!-- jQueryのCDN -->
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<!-- jQuery UI -->
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
</head>

<body>
	<%- include(`${routespath}/../public/ejs/header`) %>

	<form method="post" action="">
		<div class="css5">
			<div>
				<span>ID</span>
				<input type="number" name="id" readonly value="<%= data.id %>">
			</div>
			<div>
				<span>単元名</span>
				<input type="text" name="title" autofocus required value="<%- data.title %>">
			</div>
			<div>
				<span>サブタイトル</span>
				<input type="text" name="subtitle" value="<%- data.subtitle %>">
			</div>
			<div>
				<span>受講順序</span>
				<input type="number" name="exeorder" required value="<%= data.exeorder %>">
			</div>
			<div>
				<span>学年</span>
				<input type="number" name="grade" required value="<%= data.grade %>">
			</div>
			<div>
				<% var d = data.validdate %>
				<span>有効到来期日</span>
				<input type="date" name="validdate" required value="<%= d ? d.toFormat('YYYY-MM-DD') : '' %>">
			</div>
		</div>

		<input class="btn1" type="submit" value="更　新">
	</form>

	<form method="post" action="delete/?id=<%= data.id %>&pg=<%= pg %>" onSubmit="return deleteConfirm()" style="text-align: right;">
		<input class="deletebtn" type="submit" value="削　除" />
	</form>

	<script>
		$required = $("input[required]").prev();
		$required.prepend("<span style='color: red;'>※必須入力※</span>");
		$required.css({ "background-color": "" });

		function deleteConfirm() {
			if (window.confirm("本当に削除しますか？")) return true; // OKで削除を実行
			else return false; // キャンセルで削除を中止
		}
	</script>
</body>

</html>